.header {
	background-color: var(--corPrincipal);
	display: flex;
	height: 100%;
	width: 100%;
	gap: 2rem;
	border-radius: 10px;
	margin-bottom: 25px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
	transform: translate(0px, -30px);
	animation: animeDown 1s forwards;
	position: relative;
}

.header::after {
	opacity: 0;
	background-image: url(../../../public/react-white.svg);
	content: "";
	width: 64px;
	height: 32px;
	background-repeat: no-repeat;
	top: 7px;
	right: -18.5px;
	transform: translate(0px, -30px);
	animation: animeDown .3s forwards;
	position: absolute;
}

.header::before {
	opacity: 0;
	content: "";
	width: 48px;
	height: 48px;
	background: #1566B1;
	right: 0px;
	border-radius: 0px 7px;
	transform: translate(0px, -30px);
	animation: animeDown .3s forwards;
	position: absolute;
}

@keyframes animeDown {
	to {
		opacity: 1;
		transform: initial;
	}
}

.avatar {
	width: 12rem;
	height: auto;
	border-radius: 10px 0px 0px 10px;
	display: block;
	object-fit: cover;
	object-position: center;
	max-width: 100%;
}

.headerContainer {
	padding: 1rem 0px;
}

.headerName > h1 {
	color: #272f3f;
	display: inline;
	margin: 0px;
}

.headerName > p {
	color: #56688b;
	font-weight: normal;
	margin: 0px;
}

.headerName {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.85rem;
}

.subInfoContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.subInfoContainer p {
	color: #272f3f;
	margin: 0px;
	font-weight: 500;
}

.subInfoContainer p > span {
	font-weight: 700;
	color: #1566B1;
}

.headerFollows {
	display: flex;
	gap: 20px;
	padding: 10px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
}

.headerFollows > p {
	color: #272f3f;
	font-weight: 500;
}

.headerFollows p > span {
	color: #1566B1;
	font-weight: 600;
}

@media (max-width: 600px) {
	.header {
		flex-direction: column;
	}
	.avatar {
		width: auto;
		border-radius: 10px 10px 0px 0px;
	}
	.headerContainer {
		padding: 0px 30px;
		margin-bottom: 30px;
	}
	.headerFollows {
		justify-content: center;
	}
	.header::after {
		background-image: url(../../../public/react.svg);
		width: 40px;
		top: 7px;
		right: 0px;
		opacity: 1;
	}
	.header::before {
		content: "";
		width: 48px;
		height: 48px;
		position: absolute;
		background: #ffffff;
		right: 0px;
		border-radius: 0px 7px;
	}
}
